{% extends "base.html" %}

{% block title %}
Answer Result - QuizBuzz
{% endblock %}

{% block content %}

<div class="result-card">

    {% if feedback.is_correct %}

    <div class="correct-box">

        <div class="result-icon">
            ✅
        </div>

        <h1>
            Correct Answer!
        </h1>

        <p>
            Bahut badhiya! 🎉
        </p>

    </div>

    {% else %}

    <div class="wrong-box">

        <div class="result-icon">
            ❌
        </div>

        <h1>
            Wrong Answer
        </h1>

        <p>
            Tumhara answer:
            <strong>
                {{ feedback.selected or "No Answer" }}
            </strong>
        </p>

        <p>
            Correct answer:
            <strong>
                {{ feedback.correct_answer }}
            </strong>
        </p>

    </div>

    {% endif %}

    <div class="progress">

        Question
        {{ q_index }}
        /
        {{ total }}

    </div>

    {% if q_index < total %}

    <a
        href="{{ url_for('question') }}"
        class="btn full-btn"
    >
        Next Question →
    </a>

    {% else %}

    <a
        href="{{ url_for('question') }}"
        class="btn full-btn"
    >
        🎉 View Final Result
    </a>

    {% endif %}

</div>

{% endblock %}
