{% extends "base.html" %}

{% block title %}
{{ category_label }} - QuizBuzz
{% endblock %}

{% block content %}

<div class="hero">

    <h1>
        {{ category_label }}
    </h1>

    <p>
        Exam choose karein.
    </p>

</div>


{% if exams %}

<div class="exam-grid">

    {% for exam_name, question_count in exams.items() %}

    <div class="exam-card">

        <h3>
            {{ exam_name }}
        </h3>

        <p>
            📝 {{ question_count }} Questions
        </p>

        <p>⏱️ No question timer</p>

        <a href="{{ url_for('instructions', category=category, exam=exam_name) }}" class="start-btn">
            Start Test
        </a>

    </div>

    {% endfor %}

</div>

{% else %}

<div class="error">

    Is category mein abhi koi
    valid MCQ quiz available nahi hai.

</div>

{% endif %}


<div class="back-area">

    <a
        href="{{ url_for('index') }}"
        class="btn"
    >
        ← Back
    </a>

</div>

{% endblock %}
