{% extends "base.html" %}

{% block title %}
Home - QuizBuzz
{% endblock %}

{% block content %}

<div class="hero">

    <h1>
        ⚡ QuizBuzz
    </h1>

    <h2>
        Welcome, {{ username }}!
    </h2>

    <p>
        Category choose karein aur quiz start karein.
    </p>

</div>


<h2 class="section-title">
    Choose Category
</h2>


<div class="category-grid">

    {% for key, data in categories.items() %}

    <a
        href="{{ url_for('exams', category=key) }}"
        class="category-card"
    >

        <div class="category-icon">
            {{ data.icon }}
        </div>

        <h2>
            {{ data.label }}
        </h2>

        <p>
            Available quizzes dekhein
        </p>

    </a>

    {% endfor %}

</div>

{% endblock %}
