{% extends "base.html" %}

{% block title %}
Leaderboard - QuizBuzz
{% endblock %}

{% block content %}

<div class="hero">

    <h1>
        🏆 Leaderboard
    </h1>

    <p>
        Best Quiz Scores
    </p>

</div>


<div class="card table-wrapper">

    <table class="leaderboard-table">

        <thead>

        <tr>

            <th>Rank</th>

            <th>Username</th>

            <th>Best Score</th>

        </tr>

        </thead>


        <tbody>

        {% for user in users %}

        <tr>

            <td>
                {{ loop.index }}
            </td>

            <td>
                {{ user["username"] }}
            </td>

            <td>
                {{ user["best_score"] }}
                / 10
            </td>

        </tr>

        {% else %}

        <tr>

            <td colspan="3">
                No scores yet.
            </td>

        </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}
