{% extends "base.html" %}

{% block title %}
Notes - QuizBuzz
{% endblock %}

{% block content %}

<div class="hero">

    <h1>
        📝 Quiz Rules
    </h1>

</div>


<div class="note-card">

    <h3>
        📝 10 Questions
    </h3>

    <p>
        Har quiz mein exactly
        10 questions honge.
    </p>

</div>


<div class="note-card">

    <h3>
        ⏱️ No Timer
    </h3>

    <p>
        Questions par koi timer nahi hai.
        Aaram se answer karein.
    </p>

</div>


<div class="note-card">

    <h3>
        🔖 Review & Skip
    </h3>

    <p>
        Question skip karein ya baad mein
        dekhne ke liye Mark for Review karein.
    </p>

</div>


<div class="note-card">

    <h3>
        🎯 Result
    </h3>

    <p>
        10 questions complete hone ke
        baad score, percentage, correct,
        wrong, unattempted aur solutions milenge.
    </p>

</div>

{% endblock %}
