{% extends "base.html" %}

{% block title %}
Notes - QuizBuzz
{% endblock %}

{% block content %}

<div class="hero">

    <h1>
        📝 Quiz Rules
    </h1>

</div>


<div class="note-card">

    <h3>
        📝 10 Questions
    </h3>

    <p>
        Har quiz mein exactly
        10 questions honge.
    </p>

</div>


<div class="note-card">

    <h3>
        ⏱️ 3 Seconds
    </h3>

    <p>
        Har question ke liye
        3 seconds milenge.
    </p>

</div>


<div class="note-card">

    <h3>
        ⌛ Timer Over
    </h3>

    <p>
        3 seconds mein answer
        submit nahi kiya to
        question wrong count hoga.
    </p>

</div>


<div class="note-card">

    <h3>
        🎯 Result
    </h3>

    <p>
        10 questions complete hone ke
        baad score aur percentage
        show hoga.
    </p>

</div>

{% endblock %}
