{% extends "base.html" %}

{% block title %}
Question {{ q_number }} - QuizBuzz
{% endblock %}

{% block content %}

<div class="quiz-card">

    <p>
        {{ category_label }}
    </p>

    <h2>
        Question {{ q_number }} / {{ total }}
    </h2>

    <!-- TIMER -->
    <div class="timer-box">
        ⏱️ Time:
        <span id="timer">3</span>
    </div>

    <h1>
        {{ question }}
    </h1>

    <form method="POST" id="quizForm">

        {% for option in options %}

        <label class="option">

            <input
                type="radio"
                name="option"
                value="{{ option }}"
            >

            {{ option }}

        </label>

        {% endfor %}

        <button
            type="submit"
            class="full-btn"
        >
            Submit Answer
        </button>

    </form>

</div>


<script>

let timeLeft = 3;

const timer = document.getElementById("timer");
const form = document.getElementById("quizForm");

const countdown = setInterval(function () {

    timeLeft--;

    timer.textContent = timeLeft;

    if (timeLeft <= 0) {

        clearInterval(countdown);

        /*
         * Agar user ne answer select nahi kiya,
         * to pehla option automatically select hoga.
         */
        const selected = document.querySelector(
            'input[name="option"]:checked'
        );

        if (!selected) {

            const firstOption = document.querySelector(
                'input[name="option"]'
            );

            if (firstOption) {
                firstOption.checked = true;
            }

        }

        form.submit();

    }

}, 1000);

</script>

{% endblock %}
